**Variable Declarations and Basic Types:**
Declare variables of different types (integers, floats, strings) and assign values to them.

In [23]:
# Declare and initialize variables
# age >18
age= 25
print(age)
print(type(age))

# salary > 500.0
salary= 7500.50
print(type(salary))
print(salary)

#name
name= "John Doe"
print(name)
print(type(name))

#is_student: boolean varialbe
is_student= False
print(is_student)
print(type(is_student))

print(f"student information: \n name : {name} \n age : {age} \n salary : {salary}")

25
<class 'int'>
<class 'float'>
7500.5
John Doe
<class 'str'>
False
<class 'bool'>
student information:
 name : John Doe
 age : 25
 salary : 7500.5

**Arithmetic Expressions:**

Create exercises that involve arithmetic operations.

In [12]:

item1_price = 10
item2_price = 15

# Calculate the total cost of items
total_cost =item1_price + item2_price
#print the total_cost
print("Total cost:", total_cost)
# Calculate and print the average price
print("Average price:", total_cost / 2)

Total cost: 25
Average price: 12.5

**String Manipulation:**

Practice string concatenation and formatting:
use len, upper, lower, split with string

In [13]:
first_name = "Sarra"
last_name = "Ben Abdallah"

# Combine first name and last name and print the full_name
print("Full name:", first_name + " " + last_name)


# Calculate and print the length of the full name
print("Length of full name:", len(first_name + last_name))

# a text contains a variety of characters, including spaces, punctuation, and words of different lengths.
# It's a good choice for demonstrating how the split() function works, as it will produce clear and meaningful results.
# Declare words variables to store all words from text variable

text="This is a sample text string for splitting. We can use the split function to break it down into individual words or phrases."
words = text.split()

print(words)
print(type(words))

# convert text to upper case
text = text.upper()
# convert text to lower case
text = text.lower()

Full name: Sarra Ben Abdallah
Length of full name: 17
['This', 'is', 'a', 'sample', 'text', 'string', 'for', 'splitting.', 'We', 'can', 'use', 'the', 'split', 'function', 'to', 'break', 'it', 'down', 'into', 'individual', 'words', 'or', 'phrases.']
<class 'list'>

**Type Casting:**

Provide scenarios where type casting is necessary:

In [14]:
user_input = input("Enter your age: ")
# Convert a string to an integer

user_input=int(user_input)
# Convert a float to an integer
price = 19.99
discounted_price = int(price)
print(discounted_price)

# Convert an integer to a float
quantity = 5
total_cost = float(quantity)
print(total_cost)

# Convert an integer to a string
product_id = 123
product_code =str(product_id)
print(product_code)
print(type(product_code))

# Convert a string to a boolean
is_admin = "True"
is_admin_bool = bool(is_admin)
print(is_admin_bool)
print(type(is_admin_bool))

X="0"
Y=bool(X)
print(Y)
print(type(Y))

#convert an int to boolean
is_admin = 1
is_admin_bool = bool(is_admin)
print(is_admin_bool)
print(type(is_admin_bool))

Enter your age: 3
19
5.0
123
<class 'str'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>

**Exercise**: Write a Python program that:

Prompts the user to enter a positive number of seconds.

Converts the entered number of seconds to hours, minutes, and seconds.

Prints the converted time in the format "HH:MM:SS"

In [22]:
#enter a positive number
n=int(input("N="))

#covert to Hours
n=n/3600
print("Hours=",n)
#covert to Minutes
n=n*60
print("Minutes=",n)
#covert to Seconds
n=n*60
print("Seconds=",n)

N=3600
Hours= 1.0
Minutes= 60.0
Seconds= 3600.0